{% extends 'main.html' %}
{% block content %}

{% if blogs %}
<h1>{{ cats|title }}</h1>
    <ul>
        {% for post in blogs reversed %}
            <li class="mb-2">
                <a href="{% url 'blogPage' post.slug %}">{{ post.title }}</a> {{ post.author }}<br/>
                {{ post.date }}
                
                {% if user.is_authenticated %}
                
                <small>
                <a href="{% url 'editBlog' post.slug %}">Edit</a>
                <a href="{% url 'deleteBlog' post.slug %}">Delete</a>
                </small>
                {% endif %}

                <br/>
                {{ post.body|slice:"200"|safe }}
            </li >
        {% endfor %}
    </ul>
{% else %}
<div class='mt-3'>Sorry we dont have this category for now</div>
{% endif %}
    
{% endblock content %}
