{% extends 'main.html' %}
{% block title %}
{{ post.slug |title }}
{% endblock title %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'blog/styles/blogPage.css' %}">

<div class="container-fluid p-0">
        <div class="row  mb-3 justify-content-center"">
        <div class="col-md-8 main-body-box ">

      <div class="text-center">
        <img src="{% static 'blog/pic.jpg' %}" alt="Image" class="author-pic img-fluid rounded-circle mx-auto">
      </div>
      <span class="d-block text-center">{{ post.author.get_full_name | title }}</span>
      <span class="date d-block text-center small text-uppercase mb-5">{{ post.date|date:"F j, Y" }}</span>
      <h2 class="heading blog-title">{{ post.title | title }}</h2>
      <p class="lead mb-4 ">{{ post.snippet }}</p>
      {% if post.image %}
      <img class="img-fluid rounded mb-4" src="{{ post.image.url }}" alt="Card image cap">
      {% endif %}

      
        {{ post.body|safe }}

      <div class="row mt-5 pt-5 border-top">
      <div class="col-12">
        <span class="fw-bold small mb-1">Share</span>
        <ul class="social list-unstyled d-flex gap-2">
          <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}/blog/{{ post.slug }}" target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a></li>
          <li><a href="https://twitter.com/share?url={{ request.get_host }}/blog/{{ post.slug }}&text=have a look on this new article on {{ post.title }}" target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></a></li>
          
        </ul>
      </div>
      </div>

      
      
      {% comment %} <br>
      <br>
      <div>totol Likes: {{ totalLikes }}</div>
      <br>
      {% if not post.comments.all %}
      add one
      {% else %}
      {% for comment in post.comments.all %}
      {{ comment.name }} - {{ comment.date }}
      <br>
      <strong>{{ comment.body }}</strong>
      <br>
      <br>
      {% endfor %}
      {% endif %}
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col">
            {% if post.author.profile.profile_img %}
            <img src="{{ post.author.profile.profile_img.url }}" class="img-fluid rounded-start" alt="...">
            {% else %}
            <img src="{% static 'blog/pic.jpg' %}" class="img-fluid rounded-start" alt="..." width="100px">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ post.author.get_full_name }}</h5>
              <p class="card-text">{{ post.author.profile.bio }}</p>
              <p class="card-text">
                <small class="text-muted">
                  <a href="{{ post.author.profile.insta_url }}">Instagram</a>
                  <a href="{{ post.author.profile.insta_url }}">Website</a>
                </small>
              </p>
            </div>
          </div>
        </div>
      </div>
      <img src="{{ post.author.profile.profile_img.url }}" alt="" class="rounded-circle" height=75px
        width=75px>
      {% if user.is_authenticated %}
      <form action="{% url 'likeBlog' post.slug %}">
        {% csrf_token %}
        {% if liked %}
        <button type="submit" class="btn btn-primary">UnLike</button>
        {% else %}
        <button type="submit" class="btn btn-primary">Like</button>
        {% endif %}
      </form>
      {% else %}
      <div>to like this post pls login</div>
      {% endif %}
      <a href="{% url 'home' %}">
        <button type="button" class="btn btn-success">HOME</button>
      </a> {% endcomment %}

    </div>
  </div>
</div>
{% endblock content %}