{% extends 'main.html' %}
{% block title %}{{ post.slug | title }}{% endblock title %}
{% block content %}
    <h1 style="display:inline-block">{{ post.title | title }}</h1><a href="{% url 'editBlog' post.slug %}">Edit</a><br>
    <span>{{ post.date }}</span><br>
    <span>By: {{ post.author | title }}</span>
    <hr/>
    <div>{{ post.body|safe }}</div>
    {% if user.is_authenticated %}
    <form action="{% url 'likeBlog' post.slug %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Like</button>
    </form>
    
    {% else %}
    
    {% endif %}
    <div>totol Likes: {{ totalLikes }}</div>
    <a href="{% url 'home' %}"><button type="button" class="btn btn-success">HOME</button></a>
{% endblock content %}
