{% extends 'main.html' %}
{% block title %}{{ post.slug | title }}{% endblock title %}
{% block content %}
    <h1 style="display:inline-block">{{ post.title | title }}</h1><a href="{% url 'editBlog' post.slug %}">Edit</a><br>
    <span>{{ post.date }}</span><br>
    <span>By: {{ post.author | title }}</span>
    <hr/>
    <div>
    {% if post.image %}
    <img src="{{ post.image.url }}" alt="" class="img-fluid"><br>
    {% endif %}
    
    {{ post.body|safe }}</div>
    <br><br>
    <div>totol Likes: {{ totalLikes }}</div>
    {% if user.is_authenticated %}
    <form action="{% url 'likeBlog' post.slug %}">
    {% csrf_token %}
    {% if liked %}
    <button type="submit" class="btn btn-primary">Like</button>
    {% else %}
    <button type="submit" class="btn btn-primary">UnLike</button>
    {% endif %}
    
    </form>
    
    {% else %}
    <div>to like this post pls login</div>
    {% endif %}
    
    <a href="{% url 'home' %}"><button type="button" class="btn btn-success">HOME</button></a>
{% endblock content %}
