{% extends 'main.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'blog/styles/home.css' %}">
    <div class="container-fluid corosel py-3">
        <div class="swiper mySwiper">
          <div class="swiper-wrapper">
            {% for blog in featured_blogs %}
            <div class="swiper-slide ">
              <div class="slide-body post-entry d-lg-flex">
                {% if blog.post.image %}
                <div class="me-lg-4 thumbnail mb-4 mb-lg-0 col-lg-6">
                  <img src="{{ blog.post.image.url }}" alt="" srcset="">
                </div>
                {% else %}
                {% endif %}
                <div class="align-self-center content">
                  <div class="post-meta mb-3">
                    <a href="{% url 'blogs_by_category' blog.post.category|slugify %}" class="category">{{ blog.post.category|title }}</a> —
                    <span class="date">{{ blog.post.date|date:"F j, Y" }}</span>
                  </div>
                  <h2 class="heading"><strong><a href="{% url 'blogPage' blog.post.slug %}">{{ blog.post.title|title }}</a></strong></h2>
                  <p>{{ blog.post.snippet }}</p>
                  
                </div>
              </div>
            </div>
            {% endfor %}
            <div class="swiper-slide ">
              <div class="slide-body post-entry d-lg-flex">
                <div class="me-lg-4 thumbnail mb-4 mb-lg-0 col-lg-6">
                  <img src="https://i.ibb.co/7Ycwd45/image.png" alt="" srcset="">
                </div>
                <div class="align-self-center content">
                  <div class="post-meta mb-3">
                    <a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a> —
                    <span class="date">July 2, 2020</span>
                  </div>
                  <h2 class="heading"><strong><a href="single.html">Your most unhappy customers are your greatest source of
                        learning.</a></strong></h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                    blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                    ocean.</p>
                  
                </div>
              </div>
            </div>
            
          </div>
          {% comment %} <div class="swiper-button-next"></div> {% endcomment %}
          {% comment %} <div class="swiper-button-prev"></div> {% endcomment %}
          <div class="swiper-pagination"></div>
        </div>
      </div>
    <div class="container-fluid ">
        <div class="row  mb-3">
            <div class="col-0 col-lg-2 d-flex flex-column" id="category-body">
                <span>Categories</span>
                <div class="d-flex flex-lg-column flex-wrap container-fluid p-0 gap-2 mt-2">
                    {% for category in allCategory %}
                        <span class="category-box">
                            <a href="{% url 'blogs_by_category' category %}"
                               class="d-flex align-items-baseline gap-2"><i class="fa-solid {{ category.icon_class_name }} fa-sm"></i><span>{{ category|title }}</span></a>
                        </span>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-8 mt-lg-0 mt-2">
                <span >Recents</span>
                {% for post in object_list %}
                    <div class="card mt-2 mb-3">
                        {% if post.image %}
                            <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                        {% else %}
                        {% endif %}
                        <div class="card-body">
                            <small><strong><a href="{% url 'blogs_by_category' post.category|slugify %}">{{ post.category|title }}</a></strong></small>
                            
                            <h4 class="card-title">
                                <strong>
                                <a href="{% url 'blogPage' post.slug %}">{{ post.title|title }}</a>
                            </strong>
                            </h4>
                            
                            <p class="card-text">{{ post.snippet }}</p>
                            <p class="card-text row">
                                <small class=" col text-color">{{ post.date|date:"F j, Y" }}</small>
                                <small class=" col text-color" align="right">{{ post.author.get_full_name }}</small>
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}
