{% extends 'main.html' %}
{% block content %}
    <h1>Post</h1>
    <ul>
        {% for post in object_list %}
            <li class="mb-2">
                <a href="{% url 'blogPage' post.slug %}">{{ post.title }}</a> {{ post.author }}<br/>
                {{ post.date }}
                <a href="{% url 'allBlogCategory' post.category|slugify %}">{{ post.category }}</a>
                {% comment %} <a href="{% url 'allBlogCategory' post.category %}">{{ post.category }}</a> {% endcomment %}

                {% if user.is_authenticated and user.id == post.author.id %}
                <small>
                
                <a href="{% url 'editBlog' post.slug %}">Edit</a>
                <a href="{% url 'deleteBlog' post.slug %}">Delete</a>
                </small>
                {% endif %}

                <br/>
                {% comment %} {{ post.body|slice:"200"|safe }} {% endcomment %}
                {{ post.snippet }}
            </li >
        {% endfor %}
    </ul>
{% endblock content %}
