<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    Blog Web App
    {% endblock title %}
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  {% load static %}
  <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{% static 'blog/styles/main.css' %}">
</head>

<body>
  <div id="header">
    <div class="container-fluid header-box">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 text-center order-1 order-md-2 mb-3 mb-md-0">
          <a href="index.html" class="logo m-0 text-uppercase">MagDesign</a>
        </div>
        <div class="col-md-3 order-3 order-md-1">
          <form method="GET" action="{% url 'search_results' %}" class="search-form">
            <div class="search-dabba">
              <input type="search" class="form-control form-control-sm" placeholder="Search..." name="query">
              <span class="icon-search d-flex justify-content-center align-items-center" id="icon-search-btn">
                <i class="fa-solid fa-magnifying-glass fa-sm"></i>
              </span>
            </div>
          </form>
        </div>
        <div class="col-md-3 text-end order-2 order-md-3 mb-3 mb-md-0">
          <div class="d-flex justify-content-between align-items-center">
            <ul class="list-unstyled d-flex align-items-center gap-3 m-0">
              <li><a href="#"><span class="icon-twitter"><i class="fa-brands fa-twitter"></i></span></a></li>
              <li><a href="#"><span class="icon-facebook"><i class="fa-brands fa-facebook-f"></i></span></a></li>
              <li><a href="#"><span class="icon-instagram"><i class="fa-brands fa-instagram"></i></span></a></li>

            </ul>
            <!-- <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block"
            data-toggle="collapse" data-target="#main-navbar">
            <span></span>
          </a> -->
            <span class="d-flex gap-3 justify-content-between align-items-center">
              <span onclick="changeTheme(event)" class="changeTheme-btn">
                <i class="fa-solid fa-circle-half-stroke fa-xl changeTheme-icon"></i>
              </span>
              <span><i class="fa-solid fa-bars fa-xl"></i></span>

            </span>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid p-0 corosel">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide ">
          <div class="slide-body post-entry d-lg-flex">
            <div class="me-lg-4 thumbnail mb-4 mb-lg-0 col-lg-6">
              <img src="https://i.ibb.co/7Ycwd45/image.png" alt="" srcset="">
            </div>
            <div class="align-self-center content">
              <div class="post-meta mb-3">
                <a href="#" class="category">Business</a>, <a href="#" class="category">Travel</a> —
                <span class="date">July 2, 2020</span>
              </div>
              <h2 class="heading"><strong><a href="single.html">Your most unhappy customers are your greatest source of
                    learning.</a></strong></h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                ocean.</p>
              
            </div>
          </div>
        </div>
        <div class="swiper-slide row"><div class="col">slide 2</div></div>
      </div>
      {% comment %} <div class="swiper-button-next"></div> {% endcomment %}
      {% comment %} <div class="swiper-button-prev"></div> {% endcomment %}
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="main-body">

    {% block content %}
    {% endblock content %}

  </div>
  <div class="side-footer p-4">
    <div class="container">
      <div class="row justify-content-center copyright">
        <div class="col-lg-7 text-center">
          <div class="widget">
            <p>
              Copyright ©
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This website made with ❤
              and django
              <br>
              <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="" target="_blank"
                rel="nofollow noopener">Ajay Sahu</a>
            </p>
            <div class="d-block">
              <a href="#" class="m-2">Terms &amp; Conditions</a>/
              <a href="#" class="m-2">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="{% static 'blog/js/main.js' %}"></script>

</html>