# Ignore database files
# *.sqlite3

# Ignore compiled Python files
__pycache__/
*.pyc

# Ignore virtual environment files
venv/
env/

# Ignore secret key files
secret_key.txt

# Ignore debug logs
*.log
*.log.*

# Ignore configuration files
*.conf
.env

.vscode

task.txt
staticfiles/
media/

runserver.bat

blog_data.json
db.sqlite3