.author-pic {
    width: 70px;
}

/* .main-body-container {
    padding-top: 1.5rem;
    font-family: "Poppins", sans-serif;
    color: var(--pColor);
} */

.main-box {
    background-color: var(--fgColor);
    border-radius: var(--main-radius);
    font-family: "Poppins", sans-serif;
    /* width: fit-content; */
    /* border-color: var(--border-color)!important; */
    padding: 0px;
    overflow: hidden;
}

.main-box-cover{

}

.main-box-body{
    /* padding: 2rem; */
}

.main-box-body>figure>img {
    width: 100%;
}

.main-box-body .image{
    margin-left: auto;
    margin-right: auto;
}

.main-box-body img{
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
}

.main-box-body pre{
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);
    padding: 0.5rem 1rem;
    position: relative;
    overflow: visible;
}

.main-box-body pre::after{
    content: "code";
    position: absolute;
    top: -50%;
    right: 0px;
}

.blog-title {

    font-weight: 700;
    font-size: 34px;

    color: var(--textColor2);
    /* color: blueviolet; */
}

.comment-form{
    font-family: var(--poppins);
}

.comment-form h4{
    letter-spacing: .1rem;
}

.comment-form button{
    padding: .5rem;
    background-color: var(--bgColor);
    border: none;
    border-radius: var(--main-radius);
    color: var(--textColor);
}


.comment-img-box{
    /* height: 75px; */
    /* width: 75px; */
    /* overflow: hidden; */
    

}

.comment-img-box img{
    width: 3rem;
    border-radius: 4rem;
    border-color: var(--border-color)!important;
}