.card{
    /* border: 2px solid red; */
    background-color: var(--fgColor);
    /* font-family: "Poppins", sans-serif; */
}

.card a{
    font-family: "Poppins", sans-serif;
}

.category-body{
    position: sticky;
    top: 0;
}

.category-name{
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: .1rem;
}

.pagination .step-links{
    gap:.2rem;
    overflow: hidden;

}

.step-links > *{
    border-right: 1px var(--bgColor) solid;
    padding: 0.2rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step-links> :first-child, .step-links>:last-child{
    /* background-color: white; */
    gap: .5rem;
}

.step-links> :last-child{
    border: none;
}