{% extends 'blog/main.html' %}
{% block title %}
  {{ post.slug |title }}
{% endblock title %}
{% block content %}
  <!-- {% load static %} -->
  <link rel="stylesheet" href="{% static 'blog/styles/blogPage.css' %}">
  <div class="container-fluid py-3">
    <div class="row  mb-3 justify-content-center"">
      <div class=" col-md-8 main-box col-12 card">
        <div class="main-box-cover">
          {% if post.thumbnail %}
            <img class="img-fluid" src="{{ post.thumbnail.url }}" alt="Card image cap">
          {% endif %}
        </div>
        <div class="main-box-body">
        
        <h2 class="heading blog-title">{{ post.title | title }}</h2>
        <p class="lead mb-4 ">{{ post.snippet }}</p>

        {% comment %} {% if post.thumbnail_url %}
          <img class="img-fluid rounded mb-4" src="{{ post.thumbnail_url }}" alt="Card image cap">
        {% elif post.thumbnail %}
          <img class="img-fluid rounded mb-4" src="{{ post.thumbnail.url }}" alt="Card image cap">
        {% endif %} {% endcomment %}

        {{ post.body|safe }}
        <div class="row mt-5 border-top">
          <div class="col-12 p-2">
            <span class="fw-bold small mb-1">Share</span>
            <ul class="social list-unstyled d-flex gap-2 mb-0">
              <li>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.get_host }}/blog/{{ post.slug }}"
                   target="_blank"><i class="fa-brands fa-facebook fa-xl"></i></a>
              </li>
              <li>
                <a href="https://twitter.com/share?url={{ request.get_host }}/blog/{{ post.slug }}&text=have a look on this new article on {{ post.title }}"
                   target="_blank"><i class="fa-brands fa-twitter fa-xl"></i></a>
              </li>
            </ul>
          </div>
          <div class="col-12 border-top p-2">
            <div class="text-center">
              <img src="{% static 'blog/pic.jpg' %}"
                  alt="Image"
                  class="author-pic img-fluid rounded-circle mx-auto">
            </div>
            <span class="d-block text-center">{{ post.author.get_full_name | title }}</span> <span class="date d-block text-center small text-uppercase">{{ post.date|date:"F j, Y" }}</span>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row  mb-3 justify-content-center"">
      <div class=" col-md-8 main-box p-4">
        <div class="comment-form">
          <h4>
            <strong>Post Comment</strong>
          </h4>
          <!-- <form method="post">
            {{ form.name }}
            <button type="submit">Submit</button>
          </form> -->
          <form method="post">
            {% csrf_token %}
            <div class="form-group col-lg-6 col-md-12 name mb-2">
              {{ form.name }}
              <!-- <input type="text" class="form-control" id="name" placeholder="Enter Name"> -->
            </div>
            <div class="form-group">
              {{ form.body }}
              <!-- <textarea class="form-control" rows="5" name="message" placeholder="Messege" required=""></textarea> -->
            </div>
            <button type="submit" class="mt-3">Post Comment</button>
          </form>
        </div>
        <div class="pt-5">
          <h3 class="mb-4">{{ post.comments.count }} Comments</h3>
          <div class="all-comments">
            {% for comment in post.comments.all %}
              <div class="comment-box d-flex" id="comment_{{ comment.id }}">
                <div class="comment-img-box me-2 ">
                  <img src="{% static 'blog/pic.jpg' %}" alt="" class="border">
                </div>
                <div>
                  <h3 class="mb-0">
                    <strong>{{ comment.name|title }}</strong>
                  </h3>
                  <div class="mb-2">{{ comment.date|date:"F j, Y" }} at {{ comment.date|date:"h:i A" }}</div>
                  <p>{{ comment.body }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% comment %} <br>
<br>
<div>totol Likes: {{ totalLikes }}</div>
<br>
{% if not post.comments.all %}
add one
{% else %}
{% for comment in post.comments.all %}
{{ comment.name }} - {{ comment.date }}
<br>
<strong>{{ comment.body }}</strong>
<br>
<br>
{% endfor %}
{% endif %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col">
      {% if post.author.profile.profile_img %}
      <img src="{{ post.author.profile.profile_img.url }}" class="img-fluid rounded-start" alt="...">
      {% else %}
      <img src="{% static 'blog/pic.jpg' %}" class="img-fluid rounded-start" alt="..." width="100px">
      {% endif %}
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ post.author.get_full_name }}</h5>
        <p class="card-text">{{ post.author.profile.bio }}</p>
        <p class="card-text">
          <small class="text-muted">
            <a href="{{ post.author.profile.insta_url }}">Instagram</a>
            <a href="{{ post.author.profile.insta_url }}">Website</a>
          </small>
        </p>
      </div>
    </div>
  </div>
</div>
<img src="{{ post.author.profile.profile_img.url }}" alt="" class="rounded-circle" height=75px width=75px>
{% if user.is_authenticated %}
<form action="{% url 'likeBlog' post.slug %}">
  {% csrf_token %}
  {% if liked %}
  <button type="submit" class="btn btn-primary">UnLike</button>
  {% else %}
  <button type="submit" class="btn btn-primary">Like</button>
  {% endif %}
</form>
{% else %}
<div>to like this post pls login</div>
{% endif %}
<a href="{% url 'home' %}">
  <button type="button" class="btn btn-success">HOME</button>
</a> {% endcomment %}
