{% extends 'blog/main.html' %}
<!-- {% load static %} -->
{% block content %}
  <link rel="stylesheet" href="{% static 'blog/styles/home.css' %}">
  {% if featured_blogs %}
    <div class="container-fluid corosel py-3">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          {% for blog in featured_blogs %}
            <div class="swiper-slide ">
              <div class="slide-body post-entry d-lg-flex">
                {% if blog.post.thumbnail_url %}
                  <div class="me-lg-4 thumbnail mb-4 mb-lg-0 col-lg-6">
                    <img src="{{ blog.post.thumbnail_url }}" alt="" srcset="" class="featured_blogs_image">
                  </div>
                {% elif blog.post.thumbnail %}
                  <div class="me-lg-4 thumbnail mb-4 mb-lg-0 col-lg-6">
                    <img src="{{ blog.post.thumbnail.url }}" alt="" srcset="" class="featured_blogs_image">
                  </div>
                {% endif %}

                <div class="pt-4 pb-2 d-flex flex-column justify-content-between">
                  <div class="">
                    <div class="mb-0">
                      <a href="{% url 'blogs_by_category' blog.post.category|slugify %}"
                        class="category">{{ blog.post.category|title }}</a> —
                      <span class="date">{{ blog.post.date|date:"F j, Y" }}</span>
                    </div>
                    <h2 class="heading">
                      <strong><a href="{% url 'blogPage' blog.post.slug %}">{{ blog.post.title|title }}</a></strong>
                    </h2>
                    <p>{{ blog.post.snippet }}</p>
                  </div>
                  <div>
                    <img src="{{ blog.post.author.profile.profile_img.url }}" alt="" class="profile-img me-1 card border-2">
                    <div class="d-flex flex-row justify-content-between">
                      <span><strong>{{ blog.post.author.get_full_name }}</strong></span>
                      <a href="{% url 'blogPage' blog.post.slug %}" class="d-flex align-items-center gap-1"><span class="lh-1">Read More</span><i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          {% endfor %}
          {% comment %} join use banner {% endcomment %}
          <div class="swiper-slide ">
            <div class="slide-body post-entry d-lg-flex">
              <div class="col-12 thumbnail">
                <a href="{% url 'joinus' %}">
                <img src="{% static 'blog/joinus_banner.png' %}" alt="" srcset="" class="featured_blogs_image">
              </a>
              </div>
            </div>
          </div>

        </div>
        {% comment %} <div class="swiper-button-next"></div> {% endcomment %}
        {% comment %} <div class="swiper-button-prev"></div> {% endcomment %}
        <div class="swiper-pagination"></div>
      </div>
    </div>
  {% else %}
    <div class="row justify-content-center m-2 mt-4">
      <div class="col-lg-7 text-center d-flex justify-content-center align-items-center gap-4">
        {% if category_name %}
          <i class="fa-solid fa-magnifying-glass fa-xl"></i>
          <h2 class="category-name">{{ category_name }}</h2>
        {% elif page_obj.has_previous %}
          <h2 class="category-name">Page No. {{ page_obj.number }}</h2>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="container-fluid ">
    <div class="row  mb-3">
      <div class="col-0 col-lg-2 d-flex flex-column" id="category-body">
        <div class="category-body">
          <span>Categories</span>
          <div class="d-flex flex-lg-column flex-wrap container-fluid p-0 gap-2 mt-2">
            {% for category in allCategory %}
              <span class="category-box">
                <a href="{% url 'blogs_by_category' category %}"
                   class="d-flex align-items-baseline gap-2"><i class="fa-solid {{ category.icon_class_name }} fa-sm"></i><span>{{ category|title }}</span></a>
              </span>
            {% endfor %}
          </div>
        </div>
      </div>

      <div class="col-lg-8 mt-lg-0 mt-2">
        <span >Recents</span>
        {% for post in object_list %}
          <div class="card mt-2 mb-3">
            {% if post.thumbnail_url %}
              <img class="card-img-top" src="{{ post.thumbnail_url }}" alt="Card image cap">
            {% elif post.thumbnail %}
            <img class="card-img-top" src="{{ post.thumbnail.url }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
              <small>
                <strong>
                <a href="{% url 'blogs_by_category' post.category|slugify %}">{{ post.category|title }}</a> </strong> - 
                <small class="date">{{ post.date|date:"F j, Y" }}</small>
              </small>

              <h4 class="card-title">
                <strong>
                  <a href="{% url 'blogPage' post.slug %}">{{ post.title|title }}</a>
                </strong>
              </h4>
              <p class="card-text">{{ post.snippet }}</p>
              <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                  <img src="{{ post.author.profile.profile_img.url }}" alt="" class="profile-img me-1 card border-2">
                  <small class=" col text-color" align="right">{{ post.author.get_full_name }}</small>
                </div>
                <a href="{% url 'blogs_by_category' post.category|slugify %}" class="d-flex align-items-center gap-1">
                  <span class="lh-1 readmore-btn">Read More</span><i class="fa-solid fa-arrow-right"></i>
                </a>
              </div>
              
            </div>
          </div>
        {% endfor %}
        <div class="pagination d-felx justify-content-center align-items-center">
          <span class="step-links d-flex justify-content alilg-items card flex-row">
            {% if page_obj.has_previous %}
              <a href="?page=1"><i class="fa-solid fa-angles-left"></i> <span>first</span></a>
              <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-angle-left"></i></a>
            {% else %}
              <a href="#" disabled><i class="fa-solid fa-angles-left"></i> <span>first</span></a>
              <a href="#"><i class="fa-solid fa-angle-left"></i></a>
            {% endif %}
            <span class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}"><i class="fa-solid fa-angle-right"></i></a>
              <a href="?page={{ page_obj.paginator.num_pages }}"><span>last</span> <i class="fa-solid fa-angles-right"></i></a>
            {% else %}
              <a href="#"><i class="fa-solid fa-angle-right"></i></a>
              <a href="#"><span>last</span> <i class="fa-solid fa-angles-right"></i></a>
            {% endif %}
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
