<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    Along Mori
    {% endblock title %}
  </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  {% load static %}
  
  <!-- fontawesome -->
  <!-- <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css"> -->
  <link href="{% static 'fontawesomefree/css/fontawesome.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/brands.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'fontawesomefree/css/solid.min.css' %}" rel="stylesheet" type="text/css">
  <!-- fontawesome over-->

  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="stylesheet" href="{% static 'blog/styles/main.css' %}">
</head>

<body>
  <div class="side-collapse-menu d-flex flex-column p-5" id="mySidenav">
    <div class="side-menu-head d-flex justify-content-between">
      <span class="d-flex align-items-center">Navigation</span>
      <span onclick="toggleSideMenu()" class=""><i class="fa-solid fa-xmark fa-xl"></i></span>
    </div>
    <div class="side-menu-body">
      <ul class="side-menu-wrap list-unstyled pt-1">
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">Travel</a></li>
        <li><a href="#">Food</a></li>
        <li><a href="#">Technology</a></li>
        <li><a href="#">Business</a></li>
      </ul>
      <p>Perspiciatis hic praesentium nesciunt. Et neque a dolorum <a href="#0">voluptatem</a> porro iusto sequi veritatis libero enim. Iusto id suscipit veritatis neque reprehenderit.</p>
    </div>
    <div>
      <ul class="list-unstyled d-flex align-items-center gap-3 m-0">
        <li><a href="#"><span class="icon-twitter"><i class="fa-brands fa-twitter"></i></span></a></li>
        <li><a href="#"><span class="icon-facebook"><i class="fa-brands fa-facebook-f"></i></span></a></li>
        <li><a href="#"><span class="icon-instagram"><i class="fa-brands fa-instagram"></i></span></a></li>

      </ul>
    </div>
  </div>
  <div id="header">
    <div class="container-fluid header-box">
      <div class="row d-flex align-items-center">
        <div class="col-md-6 text-center order-1 order-md-2 mb-3 mb-md-0">
          <a href="{% url 'home' %}" class="logo m-0 text-uppercase">along mori</a>
        </div>
        <div class="col-md-3 order-3 order-md-1">
          <form method="GET" action="{% url 'search_results' %}" class="search-form">
            <div class="search-dabba">
              <input type="search" class="form-control form-control-sm" placeholder="Search..." name="query">
              <span class="icon-search d-flex justify-content-center align-items-center" id="icon-search-btn">
                <i class="fa-solid fa-magnifying-glass fa-sm"></i>
              </span>
            </div>
          </form>
        </div>
        <div class="col-md-3 text-end order-2 order-md-3 mb-3 mb-md-0">
          <div class="d-flex justify-content-between align-items-center">
            <ul class="list-unstyled d-flex align-items-center gap-3 m-0">
              <li><a href="#"><span class="icon-twitter"><i class="fa-brands fa-twitter"></i></span></a></li>
              <li><a href="#"><span class="icon-facebook"><i class="fa-brands fa-facebook-f"></i></span></a></li>
              <li><a href="#"><span class="icon-instagram"><i class="fa-brands fa-instagram"></i></span></a></li>

            </ul>
            <!-- <a href="#" class="burger ms-auto float-end site-menu-toggle js-menu-toggle d-inline-block"
            data-toggle="collapse" data-target="#main-navbar">
            <span></span>
          </a> -->
            <span class="d-flex gap-3 justify-content-between align-items-center">
              <span onclick="changeTheme()" class="changeTheme-btn">
                <i class="fa-solid fa-circle-half-stroke fa-xl changeTheme-icon"></i>
              </span>
              <span onclick="toggleSideMenu()"><i class="fa-solid fa-bars fa-xl"></i></span>

            </span>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="main-body">

    {% block content %}
    {% endblock content %}

  </div>


  <section class="py-5 text-bg-warning mt-5" id="newsletter-box">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-10">
          <div class="row justify-content-center">

            <div class="col-md-8 text-center mb-lg-4">
              <h2 class="mb-0 font-weight-bold"><strong>Newsletter</strong> - Stay tune and get the latest update</h2>
              <p class="mt-2">Far far away, behind the word mountains</p>
            </div>
            <div class="col-md-5 border-left d-flex align-items-center justify-content-center">
              <form action="#" class="subscribe-form">
                <div class="form-group d-flex align-items-center">
                  <input type="text" class="form-control" placeholder="Enter email address">
                  <a href="#" class="btn btn-darken ms-2">Subscribe</a>
                </div>
              </form>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <div class="side-footer p-4">
    <div class="container">
      <div class="row justify-content-center copyright">
        <div class="col-lg-7 text-center">
          <div class="widget">
            <p>
              Copyright ©
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This website made with ❤
              and django
              <br>
              <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="" target="_blank"
                rel="nofollow noopener">Ajay Sahu</a>
            </p>
            <div class="d-block">
              <a href="#" class="m-2">Terms &amp; Conditions</a>/
              <a href="#" class="m-2">Privacy Policy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="end-footer container-fluid px-0 py-5 bg-darken">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-9 text-center">
          <div class="footer-site-logo mb-4">
            <h3><Strong><a href="#">Along Mori</a></Strong></h3>
          </div>
          <ul class="list-unstyled nav-links mb-3 d-flex justify-content-center flex-wrap gap-3">
            <li><a href="#">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Press</a></li>
            <li><a href="#">Careers</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Contact</a></li>
          </ul>

          <div id="joinus-btn-box" class="d-flex justify-content-center align-items-center mb-4">
            <a class="d-flex">
              <div class="d-flex flex-column align-items-start joinus-box-text py-1 px-2">
                <h6 class="mb-0"><strong>Join</strong></h6>
                <small>Our Community</small>
              </div>
              <div class="d-flex justify-content-center align-items-center text-bg-warning px-2">
                <i class="fa-solid fa-users fa-xl"></i>
              </div>
            </a>
          </div>

          <div class="social mb-4">
            <h6>Stay in touch</h6>
            <ul class="list-unstyled d-flex justify-content-center align-items-center flex-wrap gap-3">
              <li><a href="#"><span class="icon-twitter"><i class="fa-brands fa-twitter"></i></span></a></li>
              <li><a href="#"><span class="icon-facebook"><i class="fa-brands fa-facebook-f"></i></span></a></li>
              <li><a href="#"><span class="icon-instagram"><i class="fa-brands fa-instagram"></i></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <div class="container-xl">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0" style="font-size: 14px;">Copyright ©
            <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
            <script>document.write(new Date().getFullYear());</script>All rights reserved | 
            This website made with 🤎 and django
              <br>
              <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="" target="_blank"
                rel="nofollow noopener">Ajay Sahu</a>
          </p>
        </div>
      </div>
    </div>
  </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<!-- <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script> -->
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
<script src="{% static 'blog/js/main.js' %}"></script>

</html>