<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #all-images img {
            border: 2px black solid;
            border-radius: 5px;
            height: 120px;
        }

        #id_body_div {
            width: 50%;
        }
    </style>
</head>

<body>


    {% load static %}

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->

        {% for field in form %}
        <div class="form-group" id="{{ field.id_for_label }}_div">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>    
        {% endfor %}

        <input type="submit" value="Save">
    </form>

    <div id="message"></div>

    <h1>Image Upload</h1>

    {% load cloudinary %}
    <div id="all-images">
        {% for image in post.images.all %}
        <div>
            {% cloudinary image.public_id height=120 %}
            <button class="delete-image-btn"
                onclick="deleteImage(this,'{{ image.pk }}', '{{ post.pk }}')">delete</button>
            <button class="copy-image-url" onclick="copyImageUrl('{% cloudinary_url image.public_id %}')">
                <>
            </button>
        </div>
        {% endfor %}
    </div>

    <form id="postForm" enctype="multipart/form-data">
        <!-- Other fields for the post (e.g., title, content) -->
        <input type="file" name="upload" multiple>
        <input type="hidden" name="post_id" value="{{ post.pk }}">
        <button type="submit">Add image</button>
    </form>
    
    <script src="{% static 'dashboard/js/functions.js' %}"></script>
    <script>


        function deleteImage(button, imageId, postId) {
            const data = new URLSearchParams();
            data.append('image_id', imageId);
            data.append('post_id', postId);

            fetch("{% url 'delete_image' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                    'X-CSRFToken': '{{ csrf_token }}',  // Replace with the actual CSRF token
                },
                body: data,
            })
                .then(response => isResponseOk(response))
                .then(data => {
                    console.log(data.message);  // Success message
                    const parentDiv = button.parentNode; // or childButton.parentElement
                    parentDiv.remove();
                })
                .catch(error => {
                    console.error('AJAX error:', error.message);
                });
        }

        //-----------------------------------------------------
        const postForm = document.getElementById('postForm'); //post means blog = blogForm = the form used to fill the blog details
        const messageDiv = document.getElementById('message');

        postForm.addEventListener('submit', function (event) {
            event.preventDefault();
            const formData = new FormData(postForm);
            fetch("{% url 'upload_image' %}", {
                method: 'POST',
                headers: { 'X-CSRFToken': '{{ csrf_token }}', },
                body: formData,
            })
                .then(response => isResponseOk(response))
                .then(data => {
                    messageDiv.innerText = data.message;
                    data.uploaded_images_data.forEach(obj => {
                        createImageDiv(obj)
                    })
                }).catch(error => {
                    console.error('AJAX error:', error.message);
                });
        });
    //-----------------------------------------------------------

    </script>
    <!-- <script src="{% static 'dashboard/js/ckeditor.js' %}"></script> -->
    <script src="https://cdn.ckeditor.com/ckeditor5/39.0.1/super-build/ckeditor.js"></script>
    <script src="{% static 'dashboard/js/CustomUploadAdapter.js' %}"></script>

    <script>
        function MyCustomUploadAdapterPlugin(editor) {
            const uploadUrl = "{% url 'upload_image' %}";
            editor.plugins.get('FileRepository').createUploadAdapter = (loader) => {
                return new CustomUploadAdapter(loader, uploadUrl, '{{ csrf_token }}', '{{ post.pk }}', createImageDiv);
            };
        }

    </script>
    <!-- <script src="{% static 'dashboard/js/script.js' %}"></script> -->
    <script src="{% static 'dashboard/js/superbuildScirpt.js' %}"></script>

</body>

</html>